/*
----------------------------------------------------------------
	remove the white gap for 4 sides in elementor
----]------------------------------------------------------------
*/
.elementor-section-wrap .elementor-section,
.elementor-column-gap-default>.elementor-column>.elementor-element-populated{
	padding:0px !important;	
} 
.admin-bar .header__area.menu-fixed,
.admin-bar .header__menu-area.sticky{
	top:32px !important;	
}


/********* Pagination Style *************/
.pagination{
	text-align:center;	
}
.pagination li,
.pagination li{
	position: relative;
    display: inline-block;
	float: left;
    font-family: 'Gotham_Light', sans-serif;
    margin-right: 20px;
	border-radius: 3px;
	border-bottom: 1px solid rgb(255 255 255 / 15%);
}
.pagination li a,
.pagination li span {
    width: 50px;
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
	text-transform: uppercase;
    color: #ffffff;
	padding: 5px 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.pagination li:hover a, 
.pagination li.active span,
.pagination li.active a,
.pagination li span.current {
    color: #ffffff;
	border-radius: 0px;
	border-bottom: 5px solid #d8f744;
}

/***************** Blog Sidebar Style*******************/
.widget{
	position: relative;
	margin-bottom:30px !important;
}
.widget ul,
.widget ol{
	position:relative;	
	margin:0px;
	padding:0px;
}
.widget ul li,
.widget ol li{
	position: relative;
	font-weight: 400;
    margin-bottom: 14px;
	padding-bottom:14px;
	padding-left: 28px;
	text-transform:capitalize;
	color: #ffffff;
}
.widget ul li:last-child,
.widget ol li:last-child{
	margin-bottom:0px;
	padding-bottom:0px;
	border-bottom:none;
}
.widget ul li ul li,
.widget ol li ol li{
	margin-bottom:0px;
	padding-bottom:0px;
	border-bottom:none;
	margin-top:14px;
	padding-top:0px;
	padding-left: 28px;
}
.widget ul li:before,
.widget ol li:before{
	content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 14px;
    height: 14px;
    background: #d8f744;
    border-radius: 4px;
}
.widget ul li a,
.widget ol li a{
	position: relative;
    font-size: 15px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
	font-family: 'Telegraf_Regular', sans-serif;
}
.widget ul li a:hover,
.widget ol li a:hover{
	color: #ffffff;
	text-decoration: underline;
}
.widget .tagcloud{
	position:relative;	
}
.widget .tagcloud a{	
	position: relative;
    display: inline-block;
	font-weight: 400;
    font-size: 15px !important;
    line-height: 22px;
    padding: 5px 5px 5px 5px;;
    min-width: 100px;
    margin: 0px 6px 10px 0px;
    background: none;
    border: 1px solid #d8f744;
    text-transform: capitalize;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    color: #ffffff;
    text-align: center;	
	font-family: 'Telegraf_Regular', sans-serif;
}
.widget .tagcloud a:hover{
	color: #37393d;
    border-color: #d8f744;
    background-color: #d8f744;	
}
/***************** Footer Widget Style*******************/
.footer-widget{
	position:relative;
}
.footer-widget ul,
.footer-widget ol{
	position:relative;
	margin:0px;
	padding:0px;
}
.footer-widget ul li,
.footer-widget ol li{
    position: relative;
    margin-bottom: 12px;
	font-size: 16px;
	display:block;
    color: #999999;
    font-weight: 400;
}
.footer-widget ul li:last-child,
.footer-widget ol li:last-child{
	margin-bottom:0px;
	padding-bottom:0px;
	border-bottom:none;
}
.footer-widget ul li ul li,
.footer-widget ol li ol li{
	margin-bottom:0px;
	margin-top:12px;
	margin-left:15px;
}
.footer-widget ul li a,
.footer-widget ol li a{
    position: relative;
    color: #999999;
	display:inline-block;
    transition: .5s;
	font-size: 16px;
    font-weight: 400;
}
.footer-widget ul li a:hover,
.footer-widget ol li a:hover{
	color: #fff;
}

/***************** Comment Style*******************/
.page-title .breadcrumb-item+.breadcrumb-item::before{
	display: none;
}
.contact-section .row .form-group .field-inner p{
	line-height: 0px;
    margin-bottom: 0px;
}
.blog-details .post-tags a{
	padding-right: 10px;	
}
.blog-details .text-content{
	margin-bottom: 0px;
}
.vosio-comment-item .vosio-comment-item{
	margin-left:80px;
}
.post-comments.post-comments > .vosio-comment-item:last-child .comment{
	margin-bottom:0px;
	padding-bottom: 0px;
}
.sidebar-page-container .add-comment{
	padding-top: 50px;
}
.sidebar-page-container .post-comments{
	padding-top: 50px;
}
.sidebar-page-container .vosio-comment-item .add-comment{
	margin: 0 0px 0px;
	padding: 20px 0px 50px 0px;
}
.comment__list .vosio-comment-item .comment__form-wrapper #cancel-comment-reply-link{
	color: #171818;
}
.comment__form-title{
	padding-bottom:10px;	
}
form .form-group textarea{
	height: 113px;
}
.post-comments .vosio-comment-item .add-comment a:hover{
	color: #d8f744;
}
.sidebar-page-container .sidebar-side .sidebar{
	margin-left: 20px;
}
.blog__list .blog-details .info .cat a{
	color: #ffffff;
}
.blog__list .blog-details .info .i-block:first-child{
	margin: 0 0px 10px;
}
.blog__list .blog-details h3 a:hover,
.blog__list .blog-details .info .cat a:hover{
	    color: #d8f744;
}
.blog__list .blog-details .lower .link-box{
	position: relative;
    font-family: 'Telegraf_Regular', sans-serif;
    padding-top: 20px;
    display: block;
    min-height: 100%;
}
.blog__list .blog-details .lower .link-box a{
	position: relative;
    display: inline-block;
    padding: 14px 30px;
    min-width: 230px;
	text-align: center;
    line-height: 24px;
    color: #d8f744;
    background: #2e2f32;
    border-radius: 12px 12px 0 0;
}
.blog__list .blog-details .lower .link-box a:hover{
	color: #2e2f32;
    background: #d8f744;
}
.blog__list .blog-details .lower .link-box a i{
	position: relative;
    top: 3px;
    padding-left: 10px;
}
.blog__list .blog-details .text-content{
	margin-bottom: 10px;
}
.blog-details .image-box img{
	height:395px;
}
.sidebar-page-container .post-author{
    margin: 0 35px;
}

.blog-details .info .cat.i-block a{
	color: #fff;
}
.blog-details .info .cat.i-block a:hover{
	color: #fff;
}
.widget.sidebar-widget.widget_vosio_gallery_posts{
	margin-bottom: 10px !important;
}
.news-block .info .i-block a{
	color: #fff;
}
.news-block .info .i-block ahover{
	color: #fff;
}
.sidebar .widget__search.wcfadeUp2 input{
	padding: 8px;
    margin-left: 0;
    margin-right: 0;
    min-width: 16em;
    border: 1px solid #fff;
    text-decoration: unset!important;
}
.sidebar .widget__search .wp-block-search__button.wp-element-button {
    border: 1px solid #fff;
    padding: 0.375em 0.625em;
    width: 100px;
	margin-left: -3px;
	height: 43px;
	color: #616161;
}
.wp-block-search__button:hover {
    color: #000;
    background: #d8f744;
}
.blog__list .widget__search.wcfadeUp2 input{
	padding: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 80%;
    border: 1px solid #fff;
    text-decoration: unset!important;
}
.blog__list .widget__search .wp-block-search__button {
    border: 1px solid #fff;
    padding: 10px;
    width: 120px;
    margin-left: -3px;
    color: #616161;
}

/*** 
====================================================================
												Team-Page
====================================================================

***/

/** team-details **/

.team-details{
	position: relative;
	padding: 0px 0px 60px 0px;
}

.team-details .image-box{
	position: relative;
	display: block;
	padding-right: 40px;
	margin-left: -100px;
	padding-left: 120px;
	padding-bottom: 20px;
}

.team-details .image-box img{
	width: 100%;
}

.team-details .image-box .image-2{
	position: absolute;
	left: 0px;
	bottom: 66px;
}

.team-details .image-box .image-shape{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 271px;
	height: 231px;
	background-repeat: no-repeat;
	z-index: -1;
}

.team-details .content-box{
	position: relative;
	display: block;
	margin-top: -14px;
}

.team-details .content-box h2{
	position: relative;
	display: block;
	font-size: 48px;
	line-height: 54px;
	font-weight: 700;
	margin-bottom: 14px;
}

.team-details .content-box h2 span{
	font-size: 36px;
	display: block;
}

.team-details .content-box .designation{
	position: relative;
	display: block;
	font-size: 26px;
	line-height: 34px;
	margin-bottom: 31px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.team-details .content-box .text{
	position: relative;
	display: block;
	margin-bottom: 38px;
	font-family: 'Gotham_Light', sans-serif;
    color: rgba(255, 255, 255, 0.40);
    line-height: 1.6em;
}

.team-details .content-box .text p{
	margin-bottom: 26px;
}

.team-details .content-box .text h3{
	display: block;
	font-size: 22px;
	line-height: 32px;
	font-weight: 600;
	margin-bottom: 15px;
}

.team-details .content-box .text .list-item li{
	position: relative;
	display: block;
	padding-left: 30px;
	margin-bottom: 13px;
}
.team-details .content-box .text ul.list-item li:before {
    content: "\f058";
    font-family: 'Font Awesome 6 Pro';
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 26px;
    color: #d8f744;
}


.team-details .content-box .text .list-item li:last-child{
	margin-bottom: 0px;
}

.team-details .content-box .text .list-item li:before{
	position: absolute;
	content: '';
	background-image: url(../images/icons/icon-1.html);
	width: 14px;
	height: 16px;
	left: 0px;
	top: 6px;
	background-repeat: no-repeat;
}

.team-details .content-box .contact-inner h6{
	display: block;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 1px;
}

.team-details .content-box .contact-inner h3{
	display: block;
	font-size: 28px;
	line-height: 38px;
	font-weight: 600;
	margin-bottom: 21px;
}

.team-details .content-box .contact-inner h3 a{
	display: inline-block;
	color: rgba(255, 255, 255, 0.40);
}

.team-details .content-box .contact-inner h3 a:hover{
	color: #d8f744;
}

.team-details .content-box .social-links li{
	position: relative;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.team-details .content-box .social-links li:last-child{
	margin: 0px !important;
}

.team-details .content-box .social-links li a{
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 1px solid #d6d6d5;
	border-radius: 50%;
	font-size: 16px;
	color: #ffffff;
}

.team-details .content-box .social-links li a:hover{
	color: #000000;
	background:#d8f744;
	border-color:#d8f744;
}

/*** 

====================================================================
	Error Section
====================================================================

***/

.error-section{
	position:relative;
	text-align:center;
	padding:180px 0px 80px;
	height:968px;
}

.error-section .content{
	position:relative;
}

.error-section h1{
	line-height:1em;
	font-size:340px;
	font-weight:700;
	color:rgba(var(--black-color-rgb), 0.15);
}

.error-section h2{
	margin-top:var(--margin-top-15);
}

.error-section .text{
	line-height:1.8em;
	font-size:var(--font-16);
	color:var(--color-three);
	margin-top:var(--margin-top-35);
}

.error-section .button-box{
	margin-top: 45px;
}

.error-section .button-box .theme-btn{
	border-radius:0px;
	padding:18px 40px;
}

.icon-box svg {
    width: 29px !important;
    fill: #ffffff80;
    mix-blend-mode: difference;
}
