---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Story from '../components/Story.astro';
import IntroVideo from '../components/IntroVideo.astro';
import Process from '../components/Process.astro';
import Transformations from '../components/Transformations.astro';
import FAQ from '../components/FAQ.astro';
import FreeTools from '../components/FreeTools.astro';
import Packages from '../components/Packages.astro';
import PlanWizard from '../components/PlanWizard.astro';
import StrugglesPreview from '../components/StrugglesPreview.astro';
---

<Layout title="Home - Salakawy | Diet & Gym Coach">
	<main>
		<Hero />
		<Story />
		<IntroVideo />
		<Process />
		<Transformations />
		<StrugglesPreview />
		<FAQ />
		<FreeTools />
		<PlanWizard />
		<Packages />
	</main>
</Layout>
