---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Story from '../components/Story.astro';
import IntroVideo from '../components/IntroVideo.astro';
import Transformations from '../components/Transformations.astro';
import FAQ from '../components/FAQ.astro';
import Packages from '../components/Packages.astro';
import WhatsappFloatingButton from '../components/WhatsappFloatingButton.astro';
---

<Layout title="Home - Salakawy | Diet & Gym Coach">
	<main>
		<Hero />
		<Story />
		<IntroVideo />
		<Transformations />
		<FAQ />
		<Packages />
		<WhatsappFloatingButton />
	</main>
</Layout>
